.servicios {
    
    border: 1px solid #dddddd;
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
    transform: scale(1);
    transition: all 1s ease 0s; 
}
#container-Informacion-psicologica {
    
    background-color: #0dcaf0c4;
    padding: 40px;
    

}

#container-frase{
    background-image: url('imagenes\img-banner-1.jpg');
    background-repeat: no-repeat;
}

#frase{
     font-family: cursive;
     font-weight: bolder;

 }
 #iconos{
     align-self: center;
     margin: 20px;

}
#Logo{

    width: 130px;
    height: 75px;
}
#menu{
     background-color:#e9eff4 !important;

}
     




html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  background-image: url(imagenes\img-banner-1.jpg);
}

video.bg-video {
  position: absolute;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/img/bg-mobile-fallback.jpg") #2a5555 no-repeat center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}
.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.masthead .masthead-content h1, .masthead .masthead-content .h1 {
  font-size: 2.5rem;
}
.masthead .masthead-content p {
  font-size: 1.2rem;
}
.masthead .masthead-content p strong {
  font-weight: 700;
}
.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
}

@media (min-width: 992px) {
  .masthead {
    height: 100%;
    width: 75vw;
    min-height: 0;
    padding-bottom: 0;
  }
  .masthead:before {
    transform: skewX(-9deg);
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }
  .masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 65vw;
  }
}
